* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: grid;
  width: calc(min(100%, 45rem));
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card span {
  position: absolute;
  font-size: 2.5rem;
  font-weight: 700;
  pointer-events: none;
  width: 100%;
  text-align: center;
}

.card input {
  cursor: pointer;
  border: 0.25rem solid #e3e0e0;
  border-radius: 0.5rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  outline: none;
  z-index: 10;
  background: transparent;
  font-size: 1.5rem;
  padding-top: 2.5rem;
  font-weight: 500;

  transition: border-color 200ms;
}

.card input::selection {
  color: white;
  background: black;
}

.card:hover input {
  border-color: #bebebe;
}

.card input:focus {
  border-color: #000;
}
